<li class="breadcrumbs__item <%= 'breadcrumbs__item--active' if defined? active and active%>" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
	<a href="<%= href || '#' %>" itemprop="item">
		<span itemprop="name"><%= name %></span>
	</a>
</li>
