<nav class="sub-navigation">
	<ol itemscope itemtype="http://schema.org/ItemList">
		<li class="sub-navigation__item sub-navigation <%= active == 'features' ? 'sub-navigation__item--active' : '' %>" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
			<a href="/features" itemprop="item"><span itemprop="name">Features</span></a>
		</li>
		<li class="sub-navigation__item <%= active == 'roadmap' ? 'sub-navigation__item--active' : '' %>" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
			<a href="/roadmap" itemprop="item"><span itemprop="name">Roadmap</span></a>
		</li>
		<li class="sub-navigation__item <%= active == 'pricing' ? 'sub-navigation__item--active' : '' %>" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
			<a href="/pricing" itemprop="item"><span itemprop="name">Pricing</span></a>
		</li>
		<li class="sub-navigation__item <%= active == 'security' ? 'sub-navigation__item--active' : '' %>" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
			<a href="/security" itemprop="item"><span itemprop="name">Security</span></a>
		</li>
	</ol>
</nav>
