---
applications:
  - name: paas-product-page
    buildpack: ruby_buildpack
    memory: 256M
    instances: 2
    env:
      APP_ENV: production
      ZENDESK_URL: https://govuk.zendesk.com/api/v2
      ZENDESK_USER: ...
      ZENDESK_TOKEN:
      ZENDESK_GROUP_ID: 360000031809
