<% content_for :head do %>
    <title>Access GOV.UK PaaS - <%= settings.title %></title>
<% end %>

<% content_for :breadcrumb do %>
    <%== erb :'partials/_breadcrumb', :locals => {name: 'Get started', href: '/get-started'} %>
    <%== erb :'partials/_breadcrumb', :locals => {name: 'Access GOV.UK PaaS', href: '/next-steps', active: true} %>
<% end %>

<div class="container">
  <div class="grid-row">
    <% if params.key?('success') %>
        <div class="column-full">
          <div class="govuk-box-highlight-green account-created">
            <p>Your account has been activated</p>
          </div>
        </div>
    <% end %>

    <div class="column-two-thirds">
      <h1 class="heading-large">
        Access GOV.UK PaaS
      </h1>

      <p class="lede">
        Installing the Cloud Foundry command line will let you operate GOV.UK PaaS from your computer.
      <p>
    </div>
  </div>

  <div class="grid-row download-section">
    <div class="column-two-thirds">
      <h2 class="heading-small">
        Download the Cloud Foundry command line interface (cf CLI)
      </h2>

      <p>
        Use one of the links to download the cf CLI installer. You can also visit the github page for <a href="https://github.com/cloudfoundry/cli#downloads">other download options</a> such as package managers and compressed binaries.
      </p>
    </div>

    <div class="column-one-third">
      <p class="heading-small">Installers:</p>

      <ul class="list-bullet">
        <li><a href="https://packages.cloudfoundry.org/stable?release=macosx64&amp;source=github">Mac OS X 64 bit</a></li>
        <li><a href="https://packages.cloudfoundry.org/stable?release=windows64&amp;source=github">Windows 64 bit</a></li>
        <li><a href="https://packages.cloudfoundry.org/stable?release=debian64&amp;source=github">Debian 64 bit</a></li>
        <li><a href="https://packages.cloudfoundry.org/stable?release=redhat64&amp;source=github">RedHat 64 bit</a></li>
      </ul>
    </div>
  </div>

  <div class="grid-row">
    <div class="column-full">
      <h2 class="heading-medium">Once you’ve installed the cf CLI</h2>
    </div>

    <div class="column-one-third">
      <h2 class="heading-small">
        <a href="https://docs.cloud.service.gov.uk/#setting-up-the-command-line">Setup and deploy your first app</a>
      </h2>
      <p>
        View our guide on logging in and deploying your first app to GOV.UK PaaS.
      </p>
    </div>

    <div class="column-one-third">
      <h2 class="heading-small">
        <a href="https://docs.cloud.service.gov.uk/#organisations-spaces-amp-targets">Learn more about orgs, spaces and targets</a>
      </h2>
      <p>
        Get familiar with the basic concepts of Cloud Foundry-based platforms, and what setting up environments looks like.
      </p>
    </div>

    <div class="column-one-third">
      <h2 class="heading-small">
        <a href="https://docs.cloud.service.gov.uk/#managing-users">Manage team members</a>
      </h2>
      <p>
        Learn how to manage permission levels for your users using the command line tool (for org managers only).
      </p>
    </div>
  </div>

  <div class="grid-row">
    <div class="column-one-third">
      <h2 class="heading-small">
        <a href="https://docs.cloud.service.gov.uk/#system-status-alerts-and-updates">Get GOV.UK PaaS updates</a>
      </h2>
      <p>
        Discover how to get system status alerts and updates about new features.
      </p>
    </div>

    <div class="column-one-third">
      <!-- FIXME: Pricing calculator is not live yet.
      <h2 class="heading-small">
        <a href="/pricing-calculator-accordion">Get a cost estimation</a>
      </h2>

      <p>
        Use our calculator to estimate how much it will cost your service to use GOV.UK PaaS.
      </p>
      -->
    </div>
  </div>
</div>
