<% content_for :head do %>
	<title>Page not found - <%= settings.title %></title>
<% end %>

<% content_for :breadcrumb do %>
	<%= erb :'partials/_breadcrumb', :locals => {name: '404', href: '#', active: true} %>
<% end %>

<div class="container">
	<div class="grid-row">
		<div class="column-two-thirds">
			<h1 class="heading-large">Page not found</h1>
			<p>Sorry the page you requested was not found.</p>
			<p>Maybe try one of these:</p>
			<ul class="list list-bullet">
				<li><a href="/">The GOV.UK PaaS home page</a></li>
				<li><a href="/get-started">Getting Started</a></li>
				<li><a href="/features">Features</a></li>
			</ul>
		</div>
	</div>
</div>
