<% content_for :head do %>
	<title>Pricing - <%= settings.title %></title>
<% end %>

<% content_for :breadcrumb do %>
	<%== erb :'partials/_breadcrumb', :locals => {name: 'Features, roadmap and security', href: request.path_info, active: true} %>
<% end %>

<div class="container">
	<div class="grid-row">
		<div class="column-one-third">
			<%== erb :'partials/_subnav', :locals => {active: 'pricing'} %>
		</div>


		<div class="column-two-thirds">
			<h1 class="heading-xlarge">Pricing</h1>
			<p>
				You pay for what you use, like hosting, compute resource and backing services such as a database.
			</p>
			<p>The overall cost depends on factors such as the number of environments you deploy to, the size and number of your applications, the size of your database services, and whether they need to have high availability.</p>

			<p>If you have a specific service you wish to discuss costs for, please contact us at:  <a href="mailto:gov-uk-paas-support@digital.cabinet-office.gov.uk">gov-uk-paas-support@digital.cabinet-office.gov.uk</a></p>

		</div>
	</div>
</div>
