<% content_for :head do %>
	<title>Privacy Notice - <%= settings.title %></title>
<% end %>

<% content_for :breadcrumb do %>
	<%== erb :'partials/_breadcrumb', :locals => {name: 'Privacy notice', href: request.path_info, active: true} %>
<% end %>

<div class="container">
	<div class="grid-row">

		<div class="column-two-thirds">
			<h1 class="heading-large">Privacy Notice</h1>
			<p class="summary">Date last modified: 26/04/2018</p>

			<h2 class="heading-medium">Who we are</h2>
			<p>GOV.UK Platform as a Service (PaaS) is provided by the Government Digital Service (GDS) which is part of the Cabinet Office. Our job is the digital transformation of government.</p>
			<p>We are a centre of excellence in digital, technology and data, collaborating with departments to help them with their own transformation. We work with them to build platforms, standards and digital services.</p>
			<p>The GOV.UK PaaS is a cloud hosting platform for use by government departments, agencies and crown bodies. Our users can deploy their services to the cloud in a secure and cost-efficient manner. We refer to our users as ‘tenants’, to avoid confusion with the end users accessing the service hosted on the platform.</p>
			<p>The data controller for GDS is the Cabinet Office – a data controller determines the purposes and means of processing personal data. For more information see the Information Commissioner's Office (ICO) <a href="https://ico.org.uk/esdwebpages/search" data-click-events data-click-category="Content" data-click-action="External link clicked">Data Protection Public Register</a>. The Cabinet Office registration number is: Z7414053</p>

			<h2 class="heading-medium">What data we need from tenants</h2>
			<p>The personal data we collect from you as a tenant will include</p>
			<ul class="list list-bullet">
				<li>your name</li>
				<li>your email address</li>
				<li>your mobile telephone number</li>
				<li>your organisational role</li>
			</ul>
			<p>The legal basis for processing this data is to fulfil the contract you have entered into to host your service on GOV.UK PaaS.</p>

			<h2 class="heading-medium">Why we need it</h2>
			<p>We use this information to create and administer user accounts within GOV.UK PaaS and identify you while you use it. This enables us to keep the platform secure from unauthorised access.</p>

			<h2 class="heading-medium">What we do with it</h2>
			<p>We’ll store the data you provide to:</p>
			<ul class="list list-bullet">
				<li>make your user account function correctly</li>
				<li>administer your user account </li>
				<li>send you updates and notices </li>
			</ul>
			<h3 class="heading-small">We will not:</h3>
			<ul class="list list-bullet">
				<li>sell or rent your data to third parties</li>
				<li>share your data with third parties for marketing purposes </li>
			</ul>
			<h3 class="heading-small">We will</h3>
			<p>share your data if we are required to do so by law – for example, by court order, or to prevent fraud or other crime.</p>

			<h2 class="heading-medium">How long we keep your data</h2>
			<p>We will only retain your personal data for as long as it is needed for the purposes set out in this document or for as long as is required by law. In general, this means that we will only hold your personal data for a minimum of 1 year and a maximum of 2 years.</p>
			<p>We will delete your personal data when your user account is no longer required. It might take up to 35 days for your data to be completely cleared from our logs and back-ups.</p>

			<h2 class="heading-medium">What data we need from end users</h2>
			<p>The personal data we collect from end users accessing your service hosted on GOV.UK PaaS will include</p>
			<ul class="list list-bullet">
				<li>their IP address</li>
				<li>any cookies that are set by your service</li>
			</ul>
			<p>The legal basis for processing this data is to ensure your service hosted on GOV.UK PaaS is available to end users.</p>

			<h2 class="heading-medium">Why we need it</h2>
			<p>We need this information to make sure the platform can meet the demand placed upon it by end users accessing the services hosted on it.</p>

			<h2 class="heading-medium">What we do with it</h2>
			<p>We use the data provided to:</p>
			<ul class="list list-bullet">
				<li>ensure the security of your service if any cookie you set has that purpose </li>
				<li>monitor the load placed on the platform</li>
				<li>monitor the security of the GOV.UK PaaS </li>
			</ul>
			<p><ul>We will not:</ul></p>
			<ul class="list list-bullet">
				<li>sell or rent your end users’ data to third parties</li>
				<li>share your end users’ data with third parties for marketing purposes </li>
			</ul>
			<p><ul>We will</ul> share your end users’ data if we are required to do so by law – for example, by court order, or to prevent fraud or other crime.</p>

			<h2 class="heading-medium">How long we keep your end users’ data</h2>
			<p>We will only retain your end users’ personal data for as long as it is needed for the purposes set out in this document or for as long as is required by law. In general, this means that we will only hold your personal data for a minimum of 1 day and a maximum of 30 days.</p>

			<h2 class="heading-medium">Children’s privacy protection</h2>
			<p>We understand the importance of protecting children's privacy online. Our services are not designed for, or intentionally targeted at, children 13 years of age or younger. It is not our policy to intentionally collect or maintain data about anyone under the age of 13.</p>

			<h2 class="heading-medium">Where it might go</h2>
			<p>Our IT infrastructure and technology has been validated from inception to delivery with supporting contracts to ensure compliance with all data sharing activities.</p>
			<p>The personal data you submit as a tenant of the GOV.UK PaaS is processed, stored and managed entirely in the European Economic Area (EEA), and will not be transferred outside of it. This means that your data is covered by EU Data Protection regulations.</p>

			<h2 class="heading-medium">How we protect your data and keep it secure</h2>
			<p>We are committed to doing all that we can to keep your data secure. To prevent unauthorised access or disclosure we have put in place technical and organisational procedures to secure the data we collect about you – for example, we protect your data using varying levels of encryption. We also make sure that any third parties that we deal with have an obligation to keep all personal data they process on our behalf secure.</p>

			<h2 class="heading-medium">What are your rights</h2>
			<p>You have the right to:</p>
			<ul class="list list-bullet">
				<li>request information about how your personal data are processed and to request a copy of that personal data</li>
				<li>request that any inaccuracies in your personal data are rectified without delay</li>
				<li>request that any incomplete personal data are completed, including by means of a supplementary statement </li>
				<li>request that your personal data are erased if there is no longer a justification for them to be processed </li>
				<li>request that the processing of your personal data is restricted in certain circumstances – for example, where accuracy is contested</li>
			</ul>
			<p>If your personal data is processed on the basis of consent, you have the right to:</p>
			<ul class="list list-bullet">
				<li>withdraw consent to the processing of your personal data at any time</li>
				<li>request a copy of any personal data you have provided, and for this to be provided in a structured, commonly used and machine-readable format</li>
			</ul>

			<h2 class="heading-medium">Changes to this notice</h2>
			<p>We may modify or amend this privacy notice at our discretion at any time. When we make changes to this notice, we will amend the last modified data at the top of this page. Any modification or amendment to this privacy notice will be applied to you and your data as of that revision date. We encourage you to periodically review this privacy notice to be informed about how we are protecting your data.</p>

			<h2 class="heading-medium">How to contact us</h2>
			<p>The data controller for your personal data is the Cabinet Office.</p>
			<p>If you have any questions about anything in this document or if you consider that your personal data has been misused or mishandled you can contact the Data Protection Officer (DPO) at: <a href="mailto:DPO@cabinetoffice.gov.uk">DPO@cabinetoffice.gov.uk</a></p>
			<p>Or by post at:</p>
			<p>Data Protection Officer<br />
			Cabinet Office<br />
			70 Whitehall<br />
			London<br />
			SW1A 2AS</p>

			<p>You may also make a complaint to the Information Commissioner, who is an independent regulator. The Information Commissioner can be contacted at: <a href="mailto:casework@ico.org.uk">casework@ico.org.uk</a> or on 0303 123 1113.</p>
			<p>Or by post at:</p>
			<p>Information Commissioner's Office<br />
			Wycliffe House<br />
			Water Lane<br />
			Wilmslow<br />
			Cheshire<br />
			SK9 5AF</p>
		</div>
	</div>
</div>
