<% content_for :head do %>
	<title>Thanks - <%= settings.title %></title>
<% end %>

<% content_for :breadcrumb do %>
	<%== erb :'partials/_breadcrumb', :locals => {name: 'Support', href: '/support'} %>
<% end %>

<div class="container">
	<div class="grid-row">

		<div class="column-two-thirds">
			<h1 class="heading-large">We’ve received your request</h1>
			<% if @msg %>
				<p class="lede"><%= @msg %></p>
			<% else %>
				<p class="lede">We’ll contact you in the next working day.</p>
			<% end %>
			<p><a href="/get-started">See the next steps to getting started</a></p>
		</div>

		<div class="column-one-third"></div>
	</div>
</div>
