---
title: Features
---

<nav class="breadcrumbs" aria-label="Breadcrumbs">
  <ol itemscope itemtype="http://schema.org/BreadcrumbList">
    <li class="breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a href="https://www.gov.uk/service-toolkit#components" itemprop="item"><span itemprop="name">Components</span></a>
    </li>
    <li class="breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a href="/" itemprop="item"><span itemprop="name">GOV.UK PaaS</span></a>
    </li>
    <li class="breadcrumbs__item breadcrumbs__item--active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a href="#main" itemprop="item"><span itemprop="name">Features</span></a>
    </li>
  </ol>
</nav>

<div class="container">
  <div class="grid-row">
  <!--
    <div class="column-one-third">
      <nav class="sub-navigation">
        <ol itemscope itemtype="http://schema.org/ItemList">
          <li class="sub-navigation__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a href="supplementary/page-one.html" itemprop="item"><span itemprop="name">Another page one</span></a>
          </li>
          <li class="sub-navigation__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a href="supplementary/page-two.html" itemprop="item"><span itemprop="name">Another page two</span></a>
          </li>
        </ol>
      </nav>
    </div>-->


    <div class="column-two-thirds">
      <h1 class="heading-xlarge">Features, use and support of GOV.UK PaaS</h1>
      <p>GOV.UK PaaS is a robust, secure and highly available platform to deploy and manage both live and prototype applications.</p>

      <p>You can use it to host applications written in these languages:</p>

        <ul class="list list-bullet">
            <li>Go</li>
            <li>Node.js</li>
            <li>Java</li>
            <li>PHP</li>
            <li>Python</li>
            <li>Ruby</li>
        </ul>
      <p>or:</p> 
      <ul>
            <li>a static HTML/CSS/Javascript site</li>
            <li>a compiled binary</li>

      </ul>

      <p>You can provision a PostgreSQL database and bind it to your application.</p>

      <h2 class="heading-large">How it’s built</h2>
      <p>GOV.UK PaaS is built using the open source <a href="https://www.cloudfoundry.org/">Cloud Foundry project</a> and runs on Amazon Web Services (AWS). You don’t have to interact with AWS directly. You can deploy and manage your applications through Cloud Foundry commands.</p>
      <p>GOV.UK PaaS is scalable depending on your application's load. We use zero downtime deploys, so upgrades to the PaaS won't interfere with the running of your application.</p>
      <p>Applications running on the platform are isolated from each other so they can’t read or change each other's code, data or logs.</p>

      <h2 class="heading-large">How you can use GOV.UK PaaS</h2>
      <p>GOV.UK PaaS is designed to be self-service, so you have complete control over deploying and managing your applications. This allows your application developers to work and iterate quickly and allows the PaaS team to focus on improving the platform itself.</p>

      <p>Application teams manage all of the components that relate to your application, such as user-facing front end applications, back end APIs, supporting backing services (such as databases and caches), scheduled tasks and application security. It is also easy to ship application logs to a logging infrastructure of your choice.</p>

      <p>GOV.UK PaaS manages the platform components involved with hosting, such as infrastructure, platform-level logging and monitoring, provisioning backing services, securing the infrastructure and ensuring the platform is highly available.</p>

      <p>To interact with GOV.UK PaaS you use the Cloud Foundry command line. There’s a <a href="https://docs.cloud.service.gov.uk/#quick-setup-guide">quick setup guide</a> on how to do this.</p>

      <h2 class="heading-large">GOV.UK PaaS future plans</h2>

      <p>Our team is working on adding more features to GOV.UK PaaS, such as adding Redis and Elasticsearch as backing services, and enabling self-service SSL certificate management. Any new features are prioritised according to what users across government need.</p>

      <p>Read the <a href="/roadmap.html">GOV.UK PaaS roadmap</a> to find out more about how the PaaS will develop.</p>

      <h2 class="heading-large">How GOV.UK PaaS is supported</h2>

      <p>GOV.UK PaaS is supported by the PaaS team’s webops engineers, so the same specialists building the platform are the ones who'll diagnose and fix any problems with the infrastructure that might affect your application.</p>

      <p>Right now, we support the platform during working hours. This will extend to full 24-hour support by the end of January 2017.</p>

      <h2 class="heading-large">Contact the GOV.UK PaaS team</h2>

      <p><a href="/support.html">Contact us</a> to find out more about how GOV.UK PaaS is built and how you can use it.</p>
    </div>
  </div>
</div>