---
title:
---

<div class="masthead">
  <nav class="breadcrumbs breadcrumbs--inverse" aria-label="Breadcrumbs">
    <ol itemscope itemtype="http://schema.org/BreadcrumbList">
      <li class="breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
        <a href="https://www.gov.uk/service-toolkit#components" itemprop="item"><span itemprop="name">Components</span></a>
      </li>
      <li class="breadcrumbs__item breadcrumbs__item--active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
        <a href="#main" itemprop="item"><span itemprop="name">GOV.UK PaaS</span></a>
      </li>
    </ol>
  </nav>

  <div class="hero hero--breaded">
    <div class="hero__content">
      <div class="hero__body">
        <h1 class="hero__title">Modern web hosting for government services</h1>
        <div class="hero__inline-image">
          <img src="/images/paas-top-image.png" alt="" role="presentation">
        </div>
        <p class="hero__description">
          Focus&nbsp;on building your service, not managing infrastructure
        </p>
        <a href="/request-trial.html" role="button" class="hero-button">
          Get an account
        </a>
      </div>
      <div class="hero__aside-image">
          <img src="/images/paas-top-image.png" alt="" role="presentation">
      </div>
    </div>
  </div>
</div>

<div class="container">
  <section class="content-section">
      <h2 class="heading-medium content-section__first-heading">
        Simple enough for prototyping,
        configurable enough for production
      </h2>
      <div class="grid-row">
        <div class="column-one-third">
          <div class="command">
            cf push my-app
          </div>
          <p class="content-section__body">
            One command gets your app up and running on the internet
          </p>
        </div>
        <div class="column-one-third">
          <div class="command">
            cf scale my-app -i 5
          </div>
          <p class="content-section__body">
            Scale up the number of instances in seconds to meet demand
          </p>
        </div>
        <div class="column-one-third">
          <div class="command">
            edit manifest.yml
          </div>
          <p class="content-section__body">
            Easy, repeatable configuration to manage your service’s growth
          </p>
        </div>
      </div>
  </section>
  <div class="grid-row">
    <div class="column-half">
      <section class="content-section">
        <h2 class="heading-medium content-section__first-heading">
          Resilient, secure and doesn’t lock you in to
          one provider
        </h2>
        <p class="content-section__body">
          GOV.UK PaaS is designed for government teams working on
          public-facing services. That means it’s:
        </p>
        <ul class="list list-bullet">
          <li>
            easy to procure – one MOU per dept
          </li>
          <li>
            accredited to handle personal and confidential information
            classified as Official
          </li>
          <li>
            already pen tested
          </li>
          <li>
            It operates across three different availability regions, providing 99.98% uptime
          </li>
          <li>UK hosting is coming soon</li>
        </ul>
      </div>
      <div class="column-half">
        <h2 class="heading-medium content-section__first-heading">
          Supports common web technologies
        </h2>
        <p class="content-section__body">
          Supports Go, Node, Java, PHP, Python and Ruby, as well as
          static sites and pre-compiled binaries.
        </p>
        <p>
          PostgreSQL and MySQL are available as services, with more planned
          for future release.
        </p>
        <p>
          See <a href="/features.html">full features and roadmap</a>.
        </p>
      </section>
    </div>
  </div>
  <h2 class="heading-medium content-section__first-heading">
    Supported 24 hours a day, 7 days a week<br/>
    by the team that builds it
  </h2>
  <div class="grid-row">
    <div class="column-half">
      <p>
        Something about monitoring
      </p>
      <p>
        team of experienced web ops engineers
      </p>
      <p>
        Contact the team at blah blah blah
      </p>
    </div>
    <div class="column-half">
      <img src="/images/paas-team.png" alt="Members of the GOV.UK PaaS team holding a meeting" class="content-section__image">
    </div>
  </div>
  <h2 class="heading-medium">
    Trusted by teams across government
  </h2>
  <section class="grid-row">
    <div class="column-half">
      <p>
        Several services are currently hosted on GOV.UK PaaS,
        including GOV.UK, GOV.UK Trade Tariff, GOV.UK Notify and
        GOV.UK Digital Marketplace live services. Many other beta and
        prototype services across government are currently being built
        on PaaS.
      </p>
    </div>
    <div class="column-half">
      <div class="grid-row">
        <div class="column-one-third">
          <img src="/images/logos/co.png" alt="Cabinet Office" height="40">
        </div>
        <div class="column-one-third">
          <img src="/images/logos/moj.png" alt="Ministry of Justice" height="60">
        </div>
        <div class="column-one-third">
          <img src="/images/logos/dit.png" alt="Department for Internation Trade" height="60">
        </div>
      </div>
    </div>
  </section>
</div>
