---
title:
---

<div class="masthead">
  <nav class="breadcrumbs breadcrumbs--inverse" aria-label="Breadcrumbs">
    <ol itemscope itemtype="http://schema.org/BreadcrumbList">
      <li class="breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
        <a href="https://www.gov.uk/service-toolkit#components" itemprop="item"><span itemprop="name">Components</span></a>
      </li>
      <li class="breadcrumbs__item breadcrumbs__item--active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
        <a href="#main" itemprop="item"><span itemprop="name">GOV.UK PaaS</span></a>
      </li>
    </ol>
  </nav>

  <div class="hero hero--breaded">
    <div class="hero__content">
      <div class="hero__body">
        <h1 class="hero__title">Modern web hosting for government services</h1>
        <div class="hero__inline-image">
          <img src="/images/paas-top-image.png" alt="" role="presentation">
        </div>
        <p class="hero__description">
          Focus&nbsp;on building your service, not managing infrastructure
        </p>
        <a href="/request-trial.html" role="button" class="hero-button">
          Get a trial account
        </a>
      </div>
      <div class="hero__aside-image">
          <img src="/images/paas-top-image.png" alt="" role="presentation">
      </div>
    </div>
  </div>
</div>

<div class="container">
  <section class="content-section">
      <h2 class="heading-large content-section__first-heading">
        One command and your application is deployed
      </h2>
      <div class="grid-row">
        <div class="column-one-third">
          <p class="content-section__body">
            Something something public URL
          </p>
        </div>
        <div class="column-one-third">
          <p class="content-section__body">
            Scaling is easy
          </p>
        </div>
        <div class="column-one-third">
          <p class="content-section__body">
            Spin up new apps
          </p>
        </div>
      </div>
  </section>
  <div class="grid-row">
    <div class="column-two-thirds">
      <section class="content-section">
        <h2 class="heading-large content-section__first-heading">
          Supports common web technologies
        </h2>
        <p class="content-section__body">
          a range of languages and frameworks and
          provides several backing services, with more features planned
          for future release.
        </p>
        <h2 class="heading-large content-section__first-heading">
          Designed for government teams working on public-facing services
        </h2>
        <p class="content-section__body">
          GOV.UK PaaS is resilient, secure and doesn’t lock you in to
          one provider.
        </p>
        <ul class="list list-bullet">
          <li>It removes the heavy-lifting of setting up a hosting infrastructure, and frees your web ops time</li>
          <li>Apps hosted on PaaS are not locked into one provider, ensuring high-portability</li>
          <li>It’s easy to procure (...)</li>
          <li>The platform is pre-accredited (for …?)</li>
          <li>[security?]</li>
          <li>It operates across three different availability regions, providing 99.98% uptime</li>
          <li>(plans for UK hosting)</li>
          <li>It offers 24-hour platform-level support</li>
          <li>It’s possible to test an application on the free plan before provisioning for a beta service</li>
          <li>Service teams can go from prototype to production without replatforming</li>
        </ul>
        <h2 class="heading-large content-section__first-heading">Who else is on GOV.UK PaaS</h2>
        <p class="content-section__body">
          <img src="/images/logos/co.png" alt="Cabinet Office" height="72" style="margin-right: 30px">
          <img src="/images/logos/dit.png" alt="Department for Internation Trade" height="72">
        </p>
        <p class="content-section__body">
          Several services are currently hosted on GOV.UK PaaS,
          including GOV.UK, GOV.UK Trade Tariff, GOV.UK Notify and
          GOV.UK Digital Marketplace live services. Many other beta and
          prototype services across government are currently being built
          on PaaS.
        </p>
        <p class="content-section__body">
          The underlying infrastructure is built, managed, monitored and
          supported by the GOV.UK PaaS team in GDS, so service teams can
          focus their time and budget on building and maintaining their
          application.
        </p>
      </section>
    </div>
  </div>
</div>
