---
title: Support
---

<nav class="breadcrumbs" aria-label="Breadcrumbs">
  <ol itemscope itemtype="http://schema.org/BreadcrumbList">
    <li class="breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a href="https://www.gov.uk/service-toolkit#components" itemprop="item"><span itemprop="name">Components</span></a>
    </li>
    <li class="breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a href="/" itemprop="item"><span itemprop="name">GOV.UK PaaS</span></a>
    </li>
    <li class="breadcrumbs__item breadcrumbs__item--active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a href="#main" itemprop="item"><span itemprop="name">Support</span></a>
    </li>
  </ol>
</nav>


<div class="container">
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge">What you pay for</h1>

      <h2 class="heading-medium">
        Free trial account
      </h2>
      <p>
        GOV.UK PaaS lets you sign up and use a free trial account for up to three months with no obligations to pay anything whilst you decide whether the platform is for you. You’ll get to use trial-sized editions of many of our backing services too.
      </p>

      <h2 class="heading-medium">
        Scale up to a full account with no long term contract
      </h2>
      <p>
        You can move up to a full paid account to use all of the functionality of the PaaS without having to commit to a long term contract. You can enable and disable apps, databases and services as required.
      </p>

      <p>
        What you pay is based on the following:
      </p>
      <ul class="list list-bullet">
        <li>
          The amount of memory your app instances use and for how long
        </li>
        <li>
          Which database you use and how many resources it uses:
          <ul class="list list-bullet">
            <li>
              For PostgreSQL or MySQL, price is based on how powerful the server is
            </li>
            <li>
              For MongoDB, price is based on memory used
            </li>
          </ul>
        </li>
        <li>
          What other services you use
        </li>
      </ul>

      <p>
        We also charge a small amount which covers the overheads of running the platform such as patching operating systems and monitoring the infrastructure.
      </p>

      <h2 class="heading-medium">
        Support that suits you and your budget
      </h2>
      <p>
        We offer different support tiers. They scale according to the platform usage of your service, but have a different minimum fee.
      </p>
    </div>
    <div class="column-one-whole">

      <table class="table">
        <thead>
          <tr>
            <th>Account</th>
            <th>Support Offered</th>
            <th>Timescales</th>
            <th>Minimum Monthly Fee</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Trial</td>
            <td>N/A</td>
            <td>N/A</td>
            <td>Free</td>
          </tr>
          <tr>
            <td>Bronze</td>
            <td>Dedicated support from the PaaS team</td>
            <td>Mon-Fri 9.30am-5.30pm</td>
            <td>£125</td>
          </tr>
          <tr>
            <td>Silver</td>
            <td>Dedicated support from the PaaS team</td>
            <td>24 hours a day 7 days a week</td>
            <td>£500</td>
          </tr>
          <tr>
            <td>Gold</td>
            <td>Dedicated support from the PaaS team</td>
            <td>24 hours a day 7 days a week</td>
            <td>£1000</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="column-two-thirds">
      <br>
      <p>
        Contact <a href="mailto:gov-uk-paas-support@digital.cabinet-office.gov.uk">gov-uk-paas-support@digital.cabinet-office.gov.uk</a>
        if you want to discuss bespoke support for your service.
      </p>
      <h2 class="heading-medium">Sample services</h2>
      <h3 class="heading-small">Microsite for arms-length body</h3>
      <p>Two instances of your application, with a small highly-available Postgres database.</p>


      <table>
        <thead>
          <tr>
            <th>
              Component
            </th>
            <th>
              Cost
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Compute and database</td>
            <td>£172</td>
          </tr>
          <tr>
            <td>Platform Contribution</td>
            <td>£35</td>
          </tr>
          <tr>
            <td>Support</td>
            <td>£125</td>
          </tr>
          <tr>
            <td>Total</td>
            <td>£335</td>
          </tr>
        </tbody>
      </table>
      <br>
      <p>
        <a href="#">Find out your own detailed cost now</a>
      </p>

    </div>
  </div>
</div>
