---
title: Trial Account
---

<nav class="breadcrumbs" aria-label="Breadcrumbs">
    <ol itemscope itemtype="http://schema.org/BreadcrumbList">
        <li class="breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a href="https://www.gov.uk/service-toolkit#components" itemprop="item">
                <span itemprop="name">Components</span>
            </a>
        </li>
        <li class="breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a href="/" itemprop="item">
                <span itemprop="name">GOV.UK PaaS</span>
            </a>
        </li>
        <li class="breadcrumbs__item breadcrumbs__item--active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a href="#main" itemprop="item">
                <span itemprop="name">Get an account</span>
            </a>
        </li>
    </ol>
</nav>

<div class="container">
    <div class="grid-row">

        <div class="column-two-thirds">
            <h1 class="heading-xlarge">Get a GOV.UK PaaS account</h1>

            <p>
              Anyone with a government email address can have a GOV.UK
              PaaS account.
            </p>

            <div class="form-group">
              <label class="form-label" for="ni-number">
                Your email address
              </label>
              <input class="form-control" id="ni-number" type="text" name="ni-number" style="width: 75%;">
            </div>

            <div class="form-group">
              <label class="form-label" for="ni-number">
                The name of the service or team that you work on
              </label>
              <input class="form-control" id="ni-number" type="text" name="ni-number" style="width: 75%;">
            </div>



            <div class="form-group">
              <input class="button" type="submit" value="Ask for an account">
            </div>
            <p>
              We’ll email you with your account details in the next 1 working day.
            </p>

        </div>

        <div class="column-one-third"></div>
    </div>
</div>
