---
title: Support
---

<nav class="breadcrumbs" aria-label="Breadcrumbs">
  <ol itemscope itemtype="http://schema.org/BreadcrumbList">
    <li class="breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a href="https://www.gov.uk/service-toolkit#components" itemprop="item"><span itemprop="name">Components</span></a>
    </li>
    <li class="breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a href="/" itemprop="item"><span itemprop="name">GOV.UK PaaS</span></a>
    </li>
    <li class="breadcrumbs__item breadcrumbs__item--active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a href="#main" itemprop="item"><span itemprop="name">Support</span></a>
    </li>
  </ol>
</nav>

<div class="container">
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge">How GOV.UK PaaS is supported</h1>

      <p>
        GOV.UK PaaS is supported 24 hours a day, seven days a week by the team
        that builds it.
      </p>

      <p>
        On this page you can find out about the support we provide during and
        outside of working hours, our <a href="#SLAs">production SLAs</a>, and how you can contact us to report a problem
        or ask for help.
      </p>

      <p>
        Information on <a href="#raise-critical-incident">raising critical incidents</a> is below. You can also use our <a href="https://status.cloud.service.gov.uk/">system status page</a> to view the availability and database connectivity of live applications on GOV.UK PaaS.
      </p>

      <p>
        Service teams are supported differently depending on whether they are in production, and if the request occurs during core hours. For example, only service teams on paid plans who are running services in production can raise out-of-hours incidents.
      </p>
      <p>
        We often refer to our users - service teams - as "tenants" to avoid confusion with end users.
      </p>

      <h2 class="heading-large">Support during working hours</h2>

      <p>
        Our office hours are 9am - 5pm Monday to Friday. During this time we support:

      <ul>
        <li>requests for help using GOV.UK PaaS</li>
        <li>fixing issues and resolving incidents</li>
      </ul>
      </p>

      <p>
        We prioritise support for live services over those in development, and
        fixing issues with the platform over answering user queries. For more
        information on how we respond to requests, you can look at our platform
        documentation.
      </p>

      <p>
        For help using GOV.UK PaaS or to report a problem with your service,
        email us at
        <a href="mailto:gov-uk-paas-support@digital.cabinet-office.gov.uk">
          gov-uk-paas-support@digital.cabinet-office.gov.uk
        </a>.
      </p>

      <h2 class="heading-large">Support outside of working hours</h2>

      <p>
        Between 5pm and 9am Monday to Friday, at weekends, and during Bank
        Holidays we provide emergency support for critical incidents affecting
        live production services. A critical incident is where:
      </p>

      <ul>
        <li>
          your application is unavailable due to a problem with our platform
        </li>
        <li>
          you can’t make a critical upgrade to your application because the
          GOV.UK PaaS API isn’t available
        </li>
        <li>
          you are experiencing a critical issue with your application that you
          cannot resolve without help from the platform team.
        </li>
      </ul>

      <p>
        We’ll start working on the issue within 40 minutes and email you to
        let you know. We’ll address anything that is not a critical incident
        the next working day.
      </p>

      <a name="SLAs"></a><h2 class="heading-large">SLAs for production tenants</h2>

      <table>
        <tbody>
          <tr>
          <th>Classification</th>
          <th>Example</th>
          <th>In hours</th>
          <th>Out of hours</th>
        </tr>
        <tr>
          <th scope="row">P1<br/>Critical<br/>Incident</th>
          <td>
             <ul class="list list-bullet">
               <li  class="font-xsmall">Applications are unavailable to end users due to a problem with our platform</li>
               <li class="font-xsmall">Serious security breach on the platform</li>
               <li class="font-xsmall">You can't make a critical fix to your production app due to the PaaS API not being available</li>
               <li class="font-xsmall">Your live production app has a P1 issue which cannot be resolved without help from us</li>
             </ul>
          </td>
          <td>
            <p class="font-xsmall">Start work &amp; respond: 20 minutes</p>
            <p class="font-xsmall">Update time: 1hr</p>
          </td>
          <td>
            <p class="font-xsmall">Start work &amp; respond: 40 minutes</p>
            <p class="font-xsmall">Update time: 1hr</p>
          </td>
        </tr>
        <tr>
          <th scope="row">P2<br/>Major<br/>Incident</th>
          <td>
            <ul>
              <li class="font-xsmall">Can&apos;t update/push apps due to platform issue</li>
              <li class="font-xsmall">Upstream vulnerabilities in GOV.UK PaaS components</li>
              <li class="font-xsmall">Elevated error rates on the GOV.UK PaaS platform</li>
              <li class="font-xsmall">Complete failure of a GOV.UK PaaS component</li>
              <li class="font-xsmall">Substantial degradation of the GOV.UK PaaS service</li>
            </ul>
          </td>
          <td>
            <p class="font-xsmall">Start work &amp; respond: 30 minutes</p>
            <p class="font-xsmall">Update time: 2hr</p>
          </td>
          <td>
            <p class="font-xsmall"></p>
          </td>
        </tr>
        <tr>
          <th scope="row">P3<br/>Significant<br/>issue</th>
          <td>
            <ul><li class="font-xsmall">Users (tenants or end users) experiencing intermittent or degraded service due to platform issue.</li></ul>
          </td>
          <td>
            <p class="font-xsmall">Start work &amp; respond: 2 hours</p>
            <p class="font-xsmall">Update time: 4 hours</p>
          </td>
          <td>
            <p class="font-xsmall"></p>
          </td>
        </tr>
        <tr>
          <th scope="row">P4<br/>Minor<br/>issue</th>
          <td>
            <ul><li class="font-xsmall">Component failure that is not immediately impacting on service</li></ul>
          </td>
          <td>
            <p class="font-xsmall">Start work &amp; respond: 1 business day</p>
            <p class="font-xsmall">Update time: 2 business days</p>
          </td>
          <td>
            <p class="font-xsmall"></p>
          </td>
        </tr>
      </tbody>
      </table>

      <a name="raise-critical-incident"></a><h2 class="heading-large">Contacting us about a critical issue</h2>

      <p>
        To contact us during working hours, use our support email address,
        <a href="mailto:gov-uk-paas-support@digital.cabinet-office.gov.uk">
          gov-uk-paas-support@digital.cabinet-office.gov.uk
        </a>.
      </p>

      <p>
        To contact us about a critical issue outside of working hours, please
        use the emergency email address you have been given. This will raise a
        high priority ticket which could alert us during the night, so
        it should only be used for critical incidents.
      </p>

      <p>
        Please do not share this email address with people outside of your
        team.
      </p>

      <h2 class="heading-large">How to escalate support requests</h2>

      <p>
        If we are not handling your request for support in the way you would
        expect, here is how to contact us.
      </p>

      <p>
        During working hours, please contact a member of the product team:
      </p>

      <p>
        Tom Dolan, senior product manager -
        <a href="maitlo:tom.dolan@digital.cabinet-office-gov.uk">
          tom.dolan@digital.cabinet-office-gov.uk
        </a>
        <br />
        Jess O'Leary, product manager -
        <a href="mailto:jessica.oleary@digital.cabinet-office.gov.uk">
          jessica.oleary@digital.cabinet-office.gov.uk
        </a>
      </p>

      <p>
        Outside of working hours, please use the escalation contact
        details you have been sent.</p>

        <h2 class="heading-large">Keeping up to date</h2>

        <p>
        Our <a href="https://status.cloud.service.gov.uk/">system status page</a>
        shows if live applications and databases are available. You can use this
        page to sign up to get alerts and incident updates.
      </p>

      <p>
        <a href="https://groups.google.com/a/digital.cabinet-office.gov.uk/forum/?hl=en#!forum/gov-uk-paas-announce">Join our announcements mailing list</a>
        to find out about new features and changes to the platform. If you have
        trouble signing up, please contact
        <a href="mailto:gov-uk-paas-support@digital.cabinet-office.gov.uk">gov-uk-paas-support@digital.cabinet-office.gov.uk</a> and we will add you
        manually.
        <p>

      </p>
    </div>
  </div>
</div>
